.spells {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  justify-content: center;
  align-items: center;
  margin: auto;
}

.no-spells {
  display: block;
  margin: 50px;
  font-size: 30px;
  text-align: center;
}

.search-input {
  height: 40px;
  width: 30vw;
  background-color: #161E35;
  border: none;
  box-sizing: border-box;
  outline: none;
  padding: 0 15px;
  border-radius: 10px 0 0 10px;
  color: white;
  font-size: 18px;
}

.search-button {
  height: 40px;
  width: 80px;
  background-color: #3071E7;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.reset-button {
  margin-left: 10px;
  height: 40px;
  width: 80px;
  background-color: #3071E7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width:600px) {
  .search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-input {
    width: 90%;
    border-radius: 10px;
  }

  .search-button {
    border-radius: 10px;
    margin-top: 10px;
  }

  .reset-button {
    margin-top: 10px;
  }
}