.popup {
  background-color: #293659;
  border: none;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
  box-sizing: border-box;
  max-width: 600px;
  max-height: 600px;
  font-size: 18px;
  margin: auto;
  /* position: relative; */
}

.popup::backdrop {
  background-color: black;
  opacity: 0.3;
}

.popup_active {
  display: flex;
}

.description {
  margin: 10px 0;
  padding: 0 10px 0 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description::-webkit-scrollbar {
  width: 12px;
}
.description::-webkit-scrollbar-track {
  background: #161E35;
}
.description::-webkit-scrollbar-thumb {
  background-color: #3071E7;
  border-radius: 20px;
  border: 2px solid  #161E35;
}

.popup-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  cursor: pointer;
  background-color: #3071E7;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 25px;
  font-size: 14px;
  transition: all 0.5s linear;
}

.button:hover {
  opacity: 0.8;
}