* {
  margin: 0;
  color: white;
}

body {
  background-color: #080C25;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Стили для ползунка */
::-webkit-scrollbar-thumb {
  background-color: #3071E7; /* Цвет ползунка */
  border-radius: 20px; /* Скругленные углы */
  border: 2px solid #161E35; /* Граница ползунка */
}

/* Стили для фона */
::-webkit-scrollbar-track {
  background: #161E35; /* Цвет фона */
}

.app {
  padding-top: 120px;
  position: relative;
}