html {
  --blue-color: #3071E7;
  --main-bg: #080C25;
  --additional-bg: #161E35;
  --light-bg: #293659;
  --main-white: white;
}

* {
  margin: 0;
  color: var(--main-white);
  /* outline: 1px solid red; */
}

body {
  background-color: var(--main-bg);
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Стили для ползунка */
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  /* Цвет ползунка */
  border-radius: 20px;
  /* Скругленные углы */
  border: 2px solid var(--additional-bg);
  /* Граница ползунка */
}

/* Стили для фона */
::-webkit-scrollbar-track {
  background: var(--additional-bg);
  /* Цвет фона */
}

.app {
  padding-top: 120px;
  position: relative;
}