.filter {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.filter__item {
  padding: 8px 12px;
  border: 2px solid var(--blue-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  background: var(--white-color);
  color: var(--white-color);
  text-align: center;
}

.filter__item.active {
  background: var(--blue-color);
  color: var(--white-color);
}

.filter__checkbox {
  display: none;
}

/* Адаптивность */
@media (max-width: 768px) {
  .filter {
    max-width: 550px;
  }

}

@media (max-width: 480px) {
  .filter {
    max-width: 95%;
  }
}
