.filter {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 2px solid var(--blue-color);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  transition: all 0.3s ease;
  background: var(--white-color);
  color: var(--white-color);
}

.filter__item.active {
  background: var(--blue-color);
  color: var(--white-color);
}

.filter__checkbox {
  display: none;
}
