.spells-group {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.spells-level {
  width: 91%;
  height: 65px;
  display: block;
  background-color: var(--additional-bg);
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 15px;
}

.spells-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  justify-content: center;
}